swagger: "2.0"
info:
  title: "rnaget API"
  description: "RNA API for expression value retrieval"
  version: "1.0.0"
basePath: "/rnaget"
produces:
  - application/json
tags:
- name: "projects"
  description: "High level collection of studies"
  externalDocs:
    description: "Find out more"
    url: "https://github.com/ga4gh-rnaseq/schema"
- name: "studies"
  description: "Collection of associated uniformly processed RNA samples"
  externalDocs:
    description: "Find out more"
    url: "https://github.com/ga4gh-rnaseq/schema"
- name: "expressions"
  description: "Feature level expression data"
  externalDocs:
    description: "Find out more"
    url: "https://github.com/ga4gh-rnaseq/schema"
schemes:
- "https"
paths:
  /projects/{projectId}:
    get:
      tags:
      - "projects"
      summary: "Find project by ID"
      description: "Returns a single specified project"
      operationId: "getProjectById"
      parameters:
      - name: "projectId"
        in: "path"
        description: "ID of project to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/project"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Project not found"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:project"
  /projects/search:
    get:
      tags:
      - "projects"
      summary: "Search for projects matching filters"
      description: "Search for projects matching filters"
      operationId: "searchProjects"
      parameters:
      - name: "tags"
        in: "query"
        description: "Comma separated tag list to filter by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "version"
        in: "query"
        description: "version to return"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/project"
        400:
          description: "The requested data format is not supported"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:project"
  /projects/search/filters:
    get:
      tags:
      - "projects"
      summary: "Returns filters for project searches"
      description: "Get filters for project searches"
      operationId: "searchProjectFilters"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/searchFilter"
        400:
          description: "The requested data format is not supported"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:project"
  /studies/{studyId}:
    get:
      tags:
      - "studies"
      summary: "Find study by ID"
      description: "Returns a single specified study"
      operationId: "getStudyById"
      parameters:
      - name: "studyId"
        in: "path"
        description: "ID of study to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/study"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Study not found"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:study"
  /studies/search:
    get:
      tags:
      - "studies"
      summary: "Search for studies matching filters"
      description: "Search for studies matching filters"
      operationId: "searchStudies"
      parameters:
      - name: "tags"
        in: "query"
        description: "Comma separated tag list to filter by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "version"
        in: "query"
        description: "version to return"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/study"
        400:
          description: "The requested data format is not supported"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:study"
  /studies/search/filters:
    get:
      tags:
      - "studies"
      summary: "Returns filters for study searches"
      description: "Get filters for study searches"
      operationId: "searchStudyFilters"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/searchFilter"
        400:
          description: "The requested data format is not supported"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:study"
  /expressions/{expressionId}:
    get:
      tags:
      - "expressions"
      summary: "Find expression data by ID"
      description: "Returns a single specified expression matrix"
      operationId: "getExpressionById"
      parameters:
      - name: "expressionId"
        in: "path"
        description: "ID of expression to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/file"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Expression not found"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:expression"
  /expressions/formats:
    get:
      tags:
      - "expressions"
      summary: "Get output formats"
      description: "Returns a list of supported expression matrix formats"
      operationId: "getExpressionFormats"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              type: "string"
        404:
          description: "Format list not found"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:expression"
  /expressions/search:
    get:
      tags:
      - "expressions"
      summary: "Search for expressions matching filters"
      description: "Search for expressions matching filters"
      operationId: "searchExpressions"
      parameters:
      - name: "format"
        in: "query"
        description: "Data format to return"
        required: true
        type: "string"
      - name: "tags"
        in: "query"
        description: "Comma separated tag list to filter by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "sampleIDList"
        in: "query"
        description: "comma separated list of sampleIDs to match"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "projectID"
        in: "query"
        description: "project to filter by"
        required: false
        type: "string"
      - name: "studyID"
        in: "query"
        description: "study to filter by"
        required: false
        type: "string"
      - name: "version"
        in: "query"
        description: "version to filter by"
        required: false
        type: "string"
      - name: "featureIDList"
        in: "query"
        description: "return only values for listed feature IDs"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "featureNameList"
        in: "query"
        description: "return only values for listed features"
        required: false
        type: "array"
        items:
          type: "string"
      - name: "featureAccessionList"
        in: "query"
        description: "return only values for listed accession numbers"
        required: false
        type: "array"
        items:
          type: "string"
      responses:
        200:
          description: "Successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/file"
        400:
          description: "The requested data format is not supported"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:expression"
  /expressions/search/filters:
    get:
      tags:
      - "expressions"
      summary: "Returns filters for expression searches"
      description: "Get filters for expression searches"
      operationId: "searchExpressionFilters"
      parameters:
      - name: "type"
        in: "query"
        description: "one of `feature` or `sample` reflecting which axis to request filters for.  If blank, both will be returned"
        required: false
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/searchFilter"
        400:
          description: "The requested data format is not supported"
        406:
          description: "Requested formatting not supported"
        501:
          description: "The specified request is not supported by the server"
      security:
      - rnaget_auth:
        - "read:expression"
securityDefinitions:
  rnaget_auth:
    type: "oauth2"
    authorizationUrl: "http://ga4gh.org/oauth/dialog"
    flow: "implicit"
    scopes:
      read:expression: "read expression data"
      read:project: "read information about projects"
      read:study: "read information about studies"
      read:info: "read general info"
definitions:
  project:
    type: "object"
    properties:
      id:
        type: "string"
      version:
        type: "string"
      tags:
        type: "array"
        items:
          type: "string"
      name:
        type: "string"
      description:
        type: "string"
    externalDocs:
      description: "Find out more"
      url: "https://github.com/ga4gh-rnaseq/schema"
  study:
    type: "object"
    properties:
      id:
        type: "string"
      version:
        type: "string"
      tags:
        type: "array"
        items:
          type: "string"
      name:
        type: "string"
      description:
        type: "string"
      parentProjectID:
        type: "string"
      genome:
        type: "string"
      sampleList:
        type: "array"
        items:
          type: "string"
    externalDocs:
      description: "Find out more"
      url: "https://github.com/ga4gh-rnaseq/schema"
  searchFilter:
    type: "object"
    description: "parameter name to use for filter when searching"
    properties:
      filter:
        type: "string"
      fieldType:
        type: "string"
      description:
        type: "string"
    externalDocs:
      description: "Find out more"
      url: "https://github.com/ga4gh-rnaseq/schema"
  file:
    type: "object"
    description: "URL and type for data files"
    properties:
      id:
        type: "string"
      version:
        type: "string"
      tags:
        type: "array"
        items:
          type: "string"
      fileType:
        type: "string"
      studyID:
        type: "string"
      URL:
        type: "string"
    externalDocs:
      description: "Find out more"
      url: "https://github.com/ga4gh-rnaseq/schema"
externalDocs:
  description: "Find out more about GA4GH"
  url: "http://ga4gh.org"
